.App {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: .5%;
  overflow: hidden;
}

div.TopBar {
  height: 5rem;
  width: -webkit-fill-available;
  display: flex;
  background-color: #3D3D3D;
  padding:0 1rem 0 1rem;
  align-items: center;
}

.TopBar>h1{
  font-size: 1.5vw;
  color: white;
  font-weight: bold;
  margin: 0;
}

.ScreenCenter {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  max-height:45%;
  padding: 1rem 0 0 0
}

.Filters {
  display: flex;
  flex-direction: column;
  max-width:40%;
  min-width:40%;
  height: -webkit-fill-available;
}

.Map {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.MapLegend {
  position:absolute;
  background-color:#3D3D3D;
  color:white;
  display:flex;
  flex-direction:row;
  padding:1%;
  bottom:0;
  left:0;
  margin:1%;
  max-height: 1.5rem;
  max-width:100%;
  z-index:1000;
  transition: all 500ms;
}

.MapLegend > img {
  cursor: pointer;
}
.ScreenBottom 
{
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  max-height:45%;
  padding: 1rem 0 0 0
}

.ScreenBottom > div, .ScreenCenter > div {
  background-color: #3D3D3D;
  align-items: center;
  justify-content:center;
}

.DimReduction {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: -webkit-fill-available;
}

.ParallelCoordinates {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem ;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.Heatmap {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: -webkit-fill-available;
}


.ScatterplotLegend {
  margin: 1% 0% 0% 2.5%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  
  color: yellow;
  padding: 1%;
  border-radius: 5%;
  width: max-content;
  max-width: 100%;
  z-index: 1;
}

.ScatterplotLegend> div:first-child {
  color: red;
  margin-right: 10%;
}

.ScatterplotLegend> div:last-child {
  color: #649664;
  margin-left: 10%;
}