div.FiltersBox {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    width: 100%;
    height: 100%;
    align-items: center;
}

.FiltersBox > div > h1 {
    display: flex;
    font-size: 1.5vw;
    color: white;
    margin: 0;
}

.resetFilters {
    border-radius: 1rem;
    background-color: #BFBFBF;
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    height: 35%;
    transition: all 0.1s ease;
    font-size: small;
}

.resetFilters:hover {
    transform: scale(1.1);
}

.FilContainer {
    display: flex;
    flex-direction: row;
    padding: 1%;
    overflow-x:hidden;
    overflow-y:auto;
    width: -webkit-fill-available;
    padding-right: 2%;
}

.CategoryEntry {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: flex-start;
    margin: 0% 1% 0% 1%;
}

.CategoryEntry > h3 {
    margin: 0;
    font-size: .7vw;
    color: white;
    font-weight: normal;
    
}


.CategoryList {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    padding: 2%;
}

.FilterEntry {
    border-radius: 2rem;
    background-color: #BFBFBF;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2%;
}


.FilterEntry > div {
    border-radius: 50%;
    background-color: #ffffff;
    height: 50%;
    aspect-ratio: 1/1;
}

.FilterTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.FilterEntry > h5 {
    margin: 0;
    color: black;
    margin-left:.5rem;

    font-size: .55vw;
}
