div.FiltersBox {
    display: flex;
    flex-direction: column;
    padding: 1%;
    overflow:hidden;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-items: center;
}

.FiltersBox > div > h1 {
    display: flex;
    font-size: 1.5vw;
    color: white;
}

.resetFilters {
    border-radius: 1rem;
    background-color: #BFBFBF;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
    margin-top: 23%;
    cursor: pointer;
    height: 35%;
    transition: all 0.1s ease;
    font-size: small;
}

.resetFilters:hover {
    transform: scale(1.1);
}

.FilContainer {
    display: flex;
    flex-direction: row;
    padding: 1%;
    overflow-x:hidden;
    overflow-y:auto;
    width: -webkit-fill-available;
    padding-right: 2%;
}

.CategoryEntry {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: flex-start;
}

.CategoryEntry > h3 {
    margin: 0;
    font-size: .9vw;
    color: white;
    font-weight: normal;
}

.CategoryList {
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    flex-direction: row;
    padding: 2%;
}

.FilterEntry {
    border-radius: 2rem;
    background-color: #BFBFBF;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    width: min-content;
    justify-content: center;
    align-items: center;
    margin: .5%;
}


.FilterEntry > div {
    border-radius: 50%;
    background-color: #ffffff;
    height: 50%;
    aspect-ratio: 1/1;
}



.FilterEntry > h5 {
    margin: 0;
    color: black;
    margin-left:.5rem;
    white-space: nowrap;
    font-size: .6vw;
}
