.tooltipHeatmap {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 4px;
    margin-left: 15px;
    transform: translate(-50%, -50%);
    width: 90px;
}

/* Add an arrow */
.tooltipHeatmap:after {
    content: "";
    position:absolute;
    border-width: 5px;  /* Arrow width */
    left: -10px;  /* Arrow width * 2 */
    top:50%;
    transform:translateY(-50%);
    border-color: transparent black transparent transparent;
}

/* Heatmap color scale */

.Scale {
    background: #95483f;
    background-image: linear-gradient(90deg, #000004, #160b39, #420a68, #6a176e, #932667, #ba3655, #dd513a, #f3761b, #fca50a, #f6d746, #f6d746);
    width: -webkit-fill-available;
    z-index: 1;
   
    height: 100%;
}

.HeatmapScaleContainer {
    display: flex;
    width: 100%;
    max-height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 5%;
}

.HeatmapScaleContainer > h5 {
    margin: 0;
    margin: 0% 5% 0% 5%;
}

.HeatmapChart {
    aspect-ratio: 1/1;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
